.idea/
.vscode/
.buildpath
.project
.settings/
dist/

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

node_modules/
.sass-cache/

*.css.map

.DS_Store

.env
.env.local

*.css
vue-dist/
local.Dockerfile
npm-debug.log

/assets/sprite.svg
