@import "reset-css";
@import "_colors";
@import "_fonts";
@import "_icons";

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.layout {
  color: $text;
  display: flex;
  flex-direction: column;
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  min-height: 100vh;
  position: relative;
  &__body {
    flex-grow: 1;
    padding: 15px 0;
    display: block;
  }
  &__aside {
    margin-right: 30px;
    width: 300px;
  }
  &__main {
    flex-grow: 1;
    width: 940px;
  }
}

// Forms
.form {
  &-input {
    width: 100%;
    height: 32px;
    border: 1px solid $text-light;
    padding: 2px 6px;
  }
}